<footer class="footer">
   <div class="container" >
        <div>
          <p>&copy; BlogTravel Company</p>
        </div>
          <nav>
            <ul>
              <li>
                <a href="" title="facebook">
                  <i class="fa-brands fa-instagram"></i>
                </a>
              </li>
              <li>
                <a href="" title="facebook">
                  <i class="fa-brands fa-twitter"></i>
                </a>
              </li>
              <li>
                <a href="" title="facebook">
                  <i class="fa-brands fa-facebook"></i>
                </a>
              </li>
            </ul>
          </nav>
    </div>
</footer>
