<article class="card post">
    <h3 class="card-title">{{post.titulo}}</h3>
    <hr noshade="noshade">
    <div class="flex categoria">
        <p>{{post.categoria}}</p>
        <p>{{post.fecha}}</p>
    </div>
    <figure>
        <img class="card-img" [src]="post.imagen">
    </figure>
    <p class="card-text text-muted autor">{{post.autor}}</p>
    <p class="card-text">{{post.subtitulo}}</p>
    <p *ngIf="detalle" class="card-text" [innerHTML]="post.texto"></p>
    <div class="seguirLeyendo">
        <hr noshade="noshade">
        <div class="d-flex justify-content-end">
            <button  *ngIf="botonActivo" class="btn" [routerLink]="['/post', post.id]">Seguir Leyendo</button>
        </div>
    </div>
    
    
    

</article>

