.hero{
    background-image: url('./images/background_hero.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: auto;
    height: 45vh;
    margin-bottom: 50px;

}

.hero ul{
    color: white;
    font-weight: 600;
    font-size: 20px;
    padding-top: 50px;
    & li{
        padding-right: 30px;
        &:hover{
            cursor: pointer;
            color: #ebdbc4;
            text-decoration:wavy;
        }
    }
}

.footer{
background-color: #D7BF9D;
padding: 20px;

}
.footer .container{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
}

.footer .container div p{
    color: #af9c80;
}


.footer .container nav ul li{
    display: inline-block;
    padding-left: 5px;
    & a{
        background-color: #af9c80;
        text-decoration: none;
        font-size: 160%;
        color: #D7BF9D;
        padding: 5px 8px;
        border-radius: 80%;
         &:hover{
        color: #ebdbc4;
    }   
    }
}




