
<section>
 
<div class="card"  [routerLink]="['/post', post.id]">
  <img [src]="post.imagen" class="card-img-top" alt="...">
  <div class="card-body">
    <h6 class="card-text">{{post.titulo}}</h6>
    <p>{{post.fecha}}</p>
  </div>
</div>
</section>

<!-- <article>
    <div class="card text-bg-dark">
    <img src="https://images.unsplash.com/photo-1566296524462-e0a341bf65e6?q=80&w=1771&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="card-img" alt="...">
    <div class="card-img-overlay">
        <h5 class="card-title">Africa</h5>
    </div>
    </div>
    <div class="card text-bg-dark">
    <img src="https://images.unsplash.com/photo-1575408264798-b50b252663e6?q=80&w=1953&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="card-img" alt="...">
    <div class="card-img-overlay">
        <h5 class="card-title">America</h5>
    </div>
    </div>
    <div class="card text-bg-dark">
    <img src="https://images.unsplash.com/photo-1535752385016-16aa049b6a8d?q=80&w=1823&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="card-img" alt="...">
    <div class="card-img-overlay">
        <h5 class="card-title">Antartida</h5>
    </div>
    </div>
    <div class="card text-bg-dark">
    <img src="https://images.unsplash.com/photo-1574236170878-f66e35f83207?q=80&w=1770&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="card-img" alt="...">
    <div class="card-img-overlay">
        <h5 class="card-title">Asia</h5>
    </div>
    </div>
    <div class="card text-bg-dark">
    <img src="https://images.unsplash.com/photo-1542379950-b3fc716c16f1?q=80&w=1770&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="card-img" alt="...">
    <div class="card-img-overlay">
        <h5 class="card-title">Europa</h5>
    </div>
    </div>
    <div class="card text-bg-dark">
    <img src="https://images.unsplash.com/photo-1656177191586-46543fb4f40c?q=80&w=1770&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="card-img" alt="...">
    <div class="card-img-overlay">
        <h5 class="card-title">Oceania</h5>
    </div>
    </div>
</article> -->
