
.card{
    width: 14.375rem; 
  --bs-card-spacer-y: 0.5rem;
  --bs-card-spacer-x: 0.5rem;
  margin-bottom: 1.25rem;
  color: var(--color-font);
    
    & h6{
        font-size: 13px;
        font-weight: 400;
        
    }
    &  p{
        font-size: 12px;
        opacity: 0.4;
        margin-bottom: 0;
        text-align: end;
    }
    
} 