
<!-- <div *ngIf="lastPost">
<app-post-card  [post]="lastPost" style="width: 50rem;" ></app-post-card>
</div> -->
<div class="mb-5" >
<div *ngIf="lastPost" class="card bg-dark text-white" [routerLink]="['/post', lastPost.id]">
    <img class="card-img" [src]="lastPost.imagen" alt="Card image">
    <div class="card-img-overlay">
        <h5 class="card-title">Last Post</h5>
        <h6 class="card-text">{{lastPost.titulo}}</h6>
        <p class="card-text">{{lastPost.subtitulo}}</p>
        <p class="card-text">{{lastPost.fecha}}</p>
    </div>
</div>


</div>