<form [formGroup]="newPost" (ngSubmit)="onSubmit()">
    <div class="row g-2">
    <div>
        <label class="form-label" for="">Categoria</label>
        <input class="form-control" type="text" formControlName="categoria">
    </div>
   
    <div>
        <label class="form-label">Titulo</label>
        <input class="form-control" type="text" formControlName="titulo">
    </div>
    <div>
        <label class="form-label">Imagen</label>
        <input class="form-control" type="text" formControlName="imagen">
    </div>
    <div>
        <label class="form-label">Texto</label>
        <textarea class="form-control" formControlName="texto" cols="30" rows="10"></textarea>
    </div>
     <div class="col">
        <label class="form-label">Fecha</label>
        <input class="form-control" type="text" formControlName="fecha">
    </div>
    <div class="col">
        <label class="form-label">Autor</label>
        <input class="form-control"  type="text" formControlName="autor">
    </div>
    </div>
  
    <input class="btn btn-info mt-3" type="submit" value="Publicar post">

</form>
