<form [formGroup]="newPost" (ngSubmit)="onSubmit()">
    <div class="header">
        <h3>Crear una nueva publicación</h3>
        <p>Para subir una publicación debes rellenar todos los campos con los datos solicitados.
            <br>
            Las publicaciones se organizan por continentes, por lo que categoriza correctamente tu publicación.</p>
        </div>
    <div class="formulario col-8 offset-2">
    <div class="categoria mb-3">
        <label class="form-label" for="">Categoria</label>
        <select class="form-select" formControlName="categoria">
            <option selected>Clasifica tu post segun el continente</option>
            <option value="africa">Africa</option>
            <option value="america">America</option>
            <option value="antartida">Antartida</option>
            <option value="asia">Asia</option>
            <option value="europa">Europa</option>
            <option value="oceania">Oceania</option>
        </select>

    </div>
    <div class="mb-3">
        <label class="form-label">Autor</label>
        <input class="form-control"  type="text" formControlName="autor">
        <p class="error" *ngIf="checkError('autor', 'required')">
        Este campo es obligatorio.
        </p>
    </div>
    <div class="mb-3">
        <label class="form-label">Fecha de publicación</label>
        <mat-form-field color="primary" class="calendario">
        <mat-label>Escoge otra fecha si no quieres publicar hoy</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="fecha" >
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        
    </div>
   <div class="imagen mb-3">
        <label class="form-label">
            Escoge una portada para tu publicación.
        </label>
        <div class="input-group" >
            <div class="input-group col-lg row-sm">
                <span class="input-group-text" id="basic-addon1">url</span>
                <input type="text" class="form-control" placeholder="Pega el link de tu imagen" aria-describedby="basic-addon1" formControlName="imagen">
            </div>
        </div>
        <p class="error" *ngIf="checkError('imagen', 'required')">
        Este campo es obligatorio.
        </p>
    </div>
    <div class="mb-3">
        <label class="form-label">Titulo</label>
        <input class="form-control" type="text" formControlName="titulo" placeholder="Titulo para la publicación">
        <p class="error" *ngIf="checkError('titulo', 'required')">
        Este campo es obligatorio.
        </p>
    </div>
    <div class="mb-3">
        <label class="form-label">Texto</label>
        <p-editor [style]="{ height: '420px' }" formControlName="texto" placeholder="Escribe aqui tu publicación" ></p-editor>
        <p class="error" *ngIf="checkError('texto', 'required')">
        Este campo es obligatorio.
        </p>
    </div>
    
    
    <input class="btn btn-info" type="submit" value="Publicar post" >
    <p class="text-danger" *ngIf="!newPost.valid && submited">**Tienes campos pendientes de rellenar**</p>
    </div>
  
    

</form>
